.text-center{text-align: center;}
.text-left{text-align: left;}
.padding-col-10{padding:10px 0;}
.padding-left-10{padding-left:10px;}
.border-radius{border-radius: 50%;}
.border-radius-20{border-radius: 20%;}
.pros{display: inline-block;width: 80%;height:20px;background-color: #27738A;}
