$color_gold:gold;
$color_green:#4CE838;
$color_orange:orange;

$l_font:30px;
$m_font:26px;
$s_font:20px;
$ss_font:16px;
$sss_font:12px;

.l_font{font-size:$l_font;}
.m_font{font-size:$m_font;}
.s_font{font-size:$s_font;}
.ss_font{font-size:$ss_font;}
.sss_font{font-size:$sss_font;}

*{
    margin:0;
    padding:0;
}
#footer{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	background:white;
	color:black;

	div{
		text-align:center;
		flex:1;
	}
}
.top{
	height:30px;
	background-color:black;
	color:white;
	font-size:20px;
	text-align:center;
	line-height:30px;
	color:$color_gold;
}
.first{margin:10px 0;}
.first_img{position:fixed;bottom:0;margin: auto;left: 0;right: 0;}


.color_gold{color:$color_gold;}
.color_green{color:$color_green;}
.color_orange{color:$color_orange;}

#me_icon{width:130px;height:130px;border-radius:50%;background:#23B3FA;margin:10px auto;}
#me_icon img{width:120px;height:120px;border-radius:50%;margin:5px auto;}
.info{display:flex;}
.info dl{flex:1;}
.info dl{padding:0 10px;}
.info dl dd{line-height:30px;}
.skill_item img{margin:10px 2px;}

#scroller ul li{height:auto;}



.bbg02{background:url(.././images/bbg02.jpg) no-repeat;background-size:100% 100%;}
.per1{width:300px;height:320px;background:url(.././images/me001.png) no-repeat;background-size:300px 320px;}
.bg8{background:url(.././images/bg08.jpg) no-repeat;background-size:100% 100%;}
.bg06{background:url(.././images/end.jpg) no-repeat;background-size:100% 100%;}



/*skill*/
.skill_list{
	display:flex;
	span{
		text-align:center;
		flex:1;
	}
}
.linebg {
			display: block;
			width: 100%;
			height: 1px;
			background:url("../images/01.svg") repeat-x;
		}

/*fot*/
.fot{
	
}